package ${package.Entity};

#if(${entityLombokModel})

import lombok.Data;
import lombok.experimental.Accessors;
#end
import javax.persistence.*;
import java.util.Date;
import java.math.BigDecimal;
import nut.jpa.model.XNutModel;
/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 */
#if(${entityLombokModel})
@Data
#if(${superEntityClass})
@EqualsAndHashCode(callSuper = true)
#end
@Accessors(chain = true)
#end
#if(${table.convert})
@Entity
@Table(name = "${table.name}")
#end
public class ${entity} extends XNutModel {


    ## private static final long serialVersionUID = 1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end

#if(${field.keyFlag})
## 主键
## @Id
## 普通字段
#elseif(${field.fill})
## 不输出这些字段
#elseif(${field.convert})
    //@TableField("${field.name}")
#else
## 逻辑删除注解
#if(${logicDeleteFieldName}==${field.name})
@TableLogic
#end
#if("$!field.comment" != "")
    /**
    * ${field.comment}
    */
#end
    @Column(name = "${field.name.toLowerCase()}")
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------

}