package ${package.Service};

import ${package.Entity}.${entity};
import nut.jpa.service.XNutService;
/**
 * <p>
 * $!{table.comment} 服务
 * </p>
 *
 * @author ${author}
 */
public interface ${table.serviceName} extends XNutService<${entity}> {

}
