package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import nut.jpa.service.impl.XNutServiceImpl;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 */
@Slf4j
@Service
public class ${table.serviceImplName} extends XNutServiceImpl<${entity}> implements ${table.serviceName} {

}
